html {
    background-color: white;
    background-size: cover;
    height: 100%;
    width: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
}

#overlay {
    height: 100%;
    width: 100%;
}


/* LOGIN */

#loginPage {
    background-image: url("../assets/background_loginpage.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#logo {
    border-radius: 50%;
    height: 20em;
}

#name {
    margin: 1em;
    margin-left: 2em;
    height: 3em;
}

#loginBox {
    width: 20em;
    margin: 2em auto;
    border: 1px solid var(white);
}

#loginForm {
    margin: 0;
    text-align: center;
}

#username {
    margin-bottom: 2em;
    height: 2em;
    width: 90%;
    background-color: white;
    border: 3px solid;
    border-color: turquoise;
}

#loginButton {
    margin-left: 16em;
    margin-top: 2em;
    width: 30%;
    height: 3em;
    background-color: white;
    border: 3px solid;
    border-color: turquoise;
}

#loginBox>header>h1 {
    text-align: center;
    color: turquoise;
    font-family: 'Poppins', sans-serif;
}

#password {
    height: 2em;
    width: 90%;
    background-color: white;
    border: 3px solid;
    border-color: turquoise;
}


/* REGISTER */

#registerPage {
    background-image: url("../assets/background_registerpage.jpg");
    background-size: cover;
    position: absolute;
    top: 7em;
    left: 0;
    width: 100%;
    height: 100%;
}

.valError {
    color: red;
    font-family: 'Poppins', sans-serif;
    margin-left: 1.2em;
    margin-bottom: 2em;
}

#registerButton {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2em;
    margin-right: 10em;
    height: 3em;
    width: 10em;
    background-color: white;
    border: 3px solid;
    border-color: turquoise;
}

#registerbox {
    width: 30em;
    border-radius: 5%;
    margin: 2em auto;
    border: 1px solid var(white);
    background-color: turquoise;
}

#registerbox>header {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 2em;
}

.InputR {
    margin-bottom: 0em;
    height: 2em;
    margin-left: 1.5em;
    width: 90%;
    background-color: white;
}

#R {
    margin-left: 23em;
    margin-bottom: 1em;
    width: 30%;
    height: 3em;
    background-color: white;
    border: 3px solid;
    border-color: turquoise;
}


/* REGISTER NAV */

body {
    margin: 0em;
    padding: 0em;
    height: 100%;
    width: 100%;
}

#registernav {
    background-color: white;
    width: 100%;
}

#registernav>table {
    width: 100%;
}

#green_bar {
    background-color: turquoise;
    height: 0.5em;
}

#logoText {
    width: 50%;
    height: 20%;
}

#logoText>img {
    margin-left: 6.5%;
    margin-right: 80%;
}

#loginButtonR {
    float: right;
    width: 5em;
    height: 3em;
    background-color: white;
    margin-top: 3em;
    margin-right: 4em;
    border: 3px solid;
    border-color: turquoise;
}

#register_but {
    background-color: white;
    border: 0.1em solid;
    border-color: darkslategray;
    width: 10em;
    height: 2.5em;
    margin-left: 12em;
    margin-bottom: 1em;
}

#messageLoginFailed>p {
    color: white;
    text-align: center;
    opacity: 1.0;
}

#messageLoginFailed {
    background-color: red;
    opacity: 0.7;
}


/* Menus*/

#flexboxMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#profileMenu {
    float: left;
    overflow: hidden;
}

#profileMenu #dropdown {
    font-size: 1.5em;
    border: none;
    outline: none;
    color: black;
    padding: 0.5em;
    background-color: white;
    margin: 0;
}

#profileMenu:hover #dropdown {
    background-color: teal;
}

#dropdownList {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 10;
}

#dropdownList a {
    font-size: 1em;
    float: none;
    color: black;
    padding: 1em;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdownList button {
    font-size: 1em;
    border: none;
    background-color: white;
    float: none;
    color: black;
    padding: 1em;
    padding-right: 3.5em;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdownList a:hover {
    background-color: teal;
}

#dropdownList button:hover {
    background-color: teal;
}

#profileMenu:hover #dropdownList {
    display: block;
}

#propertiesMenu #properties {
    float: left;
    overflow: hidden;
    font-size: 1.5em;
    border: none;
    outline: none;
    color: black;
    padding: 0.5em;
    background-color: white;
    margin: 0;
}

#propertiesMenu:hover #properties:hover {
    display: block;
    background-color: teal;
}

#reservationsMenu #reservations {
    float: left;
    overflow: hidden;
    font-size: 1.5em;
    border: none;
    outline: none;
    color: black;
    padding: 0.5em;
    background-color: white;
    margin: 0;
}

#reservationsMenu:hover #reservations:hover {
    display: block;
    background-color: teal;
}

#messageLoginFailed2>p {
    color: red;
    text-align: center;
}

#reservations {
    float: left;
    overflow: hidden;
    font-size: 1.5em;
    border: none;
    outline: none;
    color: black;
    padding: 0.5em;
    background-color: white;
    margin: 0;
}

#messagesMenu:hover #reservations:hover {
    display: block;
    background-color: teal;
}

p,
pre {
    font-family: 'Poppins', sans-serif;
}


/* HOME PAGE */

#homePage {
    background-image: url("../assets/background_homepage.png");
    background-size: cover;
    position: absolute;
    top: 7em;
    left: 0;
    z-index: 0;
    width: 150em;
    height: 50em;
}

#trending {
    margin-top: 50%;
    margin-left: 10%;
    font-size: 200%;
}

#sample_house {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.sample_house1 {
    margin-left: 8em;
    flex-basis: 20%;
    margin-top: 2em;
}

.sample_house2 {
    margin-left: 8em;
    flex-basis: 20%;
    margin-top: 2em;
}

.sample_house3 {
    margin-left: 8em;
    margin-top: 2em;
    flex-basis: 20%;
}

#footer_information {
    text-align: end;
}

#trending {
    margin-top: 22%;
    margin-left: 10%;
    font-size: 200%;
}

#howmany {
    padding-left: 5em;
    padding-left: 5em;
    margin-left: 2em;
}

#searchbox {
    width: 30em;
    border-radius: 5%;
    margin-left: 10em;
    margin-top: 7em;
    border: 0.15em solid;
    border-color: darkslategrey;
    background-color: turquoise;
}

#searchbox>header {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 2em;
}

#searchbox>form>input {
    margin-bottom: 2em;
    height: 2em;
    margin-left: 1.5em;
    width: 90%;
    background-color: white;
    border: 3px solid;
    border-color: turquoise;
}

#guest_no {
    width: 30%;
    height: 2em;
}

#location_input,
#start_input,
#end_input {
    width: 50%;
    margin-bottom: 2em;
}

#inputs {
    margin-left: 1em;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.3em;
}

#searchbox>form>button {
    margin-top: 1em;
    margin-left: 25em;
    margin-bottom: 1em;
    width: 25%;
    height: 3em;
    background-color: white;
    border: 3px solid;
    border-color: darkslategrey;
}

#trending_houses {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

#see_house {
    text-decoration: none;
    color: darkturquoise;
}


/*404*/

#error404page {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("../assets/404image.jpg");
    height: 100%;
    width: 100%;
    background-size: 95%;
    margin: 0;
    padding: 0;
}

#error404page>* {
    margin: 0;
    padding: 0;
}


/*403*/

#error403page {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("../assets/403image.jpg");
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#error403page>* {
    margin: 0;
    padding: 0;
}


/* MY RESERVATIONS */

#my_reservations {
    display: flex;
    flex-wrap: wrap;
}

#MyReservationsTitle {
    font-size: 2em;
    margin-left: 5em;
}

.buttonsReservations_1,
.buttonsReservations_2 {
    background-color: white;
    border: 3px solid;
    border-color: turquoise;
    margin: 0.5em;
}

#my_reservation {
    text-align: left;
}


/* MY PROPERTIES PAGE */

#MyPropertiesHeader {
    display: flex;
    flex-wrap: wrap;
}

#MyPropertiesTitle {
    font-size: 2em;
    margin-left: 5em;
}

#addProperty {
    margin-left: 5em;
    height: 2em;
    margin-top: 0.8em;
    font-size: 2em;
    background-color: white;
    border: 0.1em solid;
    border-color: turquoise;
}

#error-no-properties {
    position: relative;
    top: 0;
    margin-left: 5em;
    width: 100%;
    height: 100%;
    font-size: 2em;
}

.buttonsPropertyOwned {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.5em;
    margin-left: 1em;
    float: left;
    background-color: white;
    border: 0.1em solid;
    border-color: turquoise;
}

#my_properties {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.myproperties1 {
    margin-left: 7em;
    flex-basis: 25%;
    margin-top: 2em;
}

.myproperties2 {
    margin-left: 7em;
    flex-basis: 25%;
    margin-top: 2em;
}

.myproperties3 {
    margin-left: 7em;
    flex-basis: 25%;
    margin-top: 2em;
}


/* PROFILE PAGE */


/*PopUp profile page*/

#popup {
    display: none;
    position: fixed;
    padding-top: 10em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

#popup_content {
    background-color: white;
    margin: auto;
    padding: 1em;
    border: 0;
    width: 50%;
    background-color: turquoise;
}

#close {
    color: grey;
    float: right;
    font-size: 1em;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#new_username {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    width: 40%;
}

#change_username,
#change_password {
    margin-left: 5%;
    margin-top: 2%;
    padding: 1%;
    background-color: white;
    border: 0.1em solid;
    border-color: darkslategray;
}

#new_password {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    width: 40%;
}

#edit_text,
#username_text,
#password_text {
    font-size: 1.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#edit_text {
    font-size: 2em;
    margin-left: 35%;
}

#new_password2 {
    padding: 1%;
    width: 40%;
}

#error_change_username {
    color: red;
    opacity: 0.7;
    display: none;
}

#error_username_size {
    color: red;
    opacity: 0.7;
    display: none;
}

#error_pass {
    color: red;
    opacity: 0.7;
    display: none;
}

#error_pass2 {
    color: red;
    opacity: 0.7;
    display: none;
}


/*Edit Page*/

#profile_title {
    margin-left: 10%;
    font-size: 2em;
}

#edit_profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#image_div {
    flex-basis: 30%;
    margin-left: 3%;
}

#profile_info {
    font-size: 1.5em;
    margin-top: 5%;
    margin-left: 3%;
    flex-basis: 30%;
    margin-bottom: 10%;
}

#description_div {
    margin-left: 3%;
    flex-basis: 30%;
}

#profile_img {
    margin-right: 0.5em;
    border-radius: 50%;
    border: 0.1em solid;
    border-color: turquoise;
}

#change_photo {
    background-color: white;
    border: 0.1em solid;
    border-color: turquoise;
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.2em;
}

#choose_photo {
    background-color: white;
    border: 0.1em solid;
    border-color: turquoise;
    margin-left: 10%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.2em;
}

#edit_avatar {
    margin-left: 36%;
    margin-bottom: 30%;
}

#edit_pro {
    margin-top: 5%;
    margin-left: 17%;
    background-color: white;
    border: 0.1em solid;
    border-color: turquoise;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1em;
}

#description {
    padding-bottom: 20em;
    width: 30em;
    margin-bottom: 4em;
    border: 0.5em solid;
    border-color: turquoise;
}

#edit_des {
    margin-left: 20%;
    background-color: white;
    border: 0.1em solid;
    border-color: turquoise;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.2em;
}

footer {
    width: 100%;
    background-color: turquoise;
    text-align: end;
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}


/*house page*/

#housepage {
    background-color: white;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
}

#housepage1 {
    width: 45%;
}

#housepage2 {
    width: 50%;
}

#housepage>img {
    height: 20em;
    width: 30em;
    border: 0.2em solid;
    border-color: turquoise;
}

#Text {
    margin-bottom: 1em;
}

#housepage>* {
    margin: 1em;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#housepage ul {
    list-style-type: none;
}

#rent_button {
    position: fixed;
    top: 25%;
    left: 70%;
}

#message_button {
    width: 10em;
    height: 5em;
    background: turquoise;
    border-radius: 50px;
    border-style: none;
    margin-bottom: 1em;
}

#rent_form {
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: turquoise;
    width: 25%;
}

#checkout_error,
#checkin_error {
    color: red;
    opacity: 0.8;
    margin-left: 1em;
}

#owner_message_button {
    width: 10em;
    height: 5em;
    background: turquoise;
    border-radius: 50px;
    border-style: none;
    margin-left: 1em;
}

#rent_house_button {
    width: 10em;
    height: 5em;
    background: turquoise;
    border-radius: 50px;
    border-style: none;
    margin-bottom: 1em;
}

#check_in_text,
#check_out_text {
    font-size: 1.5em;
    color: white;
    margin: 0.5em;
}

#start_date,
#end_date {
    margin-left: 1em;
}

#rent_but {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 9em;
    margin-bottom: 1em;
    background-color: white;
    border: 0.1em solid;
    border-color: darkslategray;
    width: 10em;
    height: 3em;
}

.slide {
    display: none;
    width: 40em;
}

#button_right,
#button_left {
    opacity: 0.8;
    border: 0.1em solid;
    border-color: gray;
    height: 3em;
    width: 3em;
    margin-bottom: 0.5em;
    background-color: turquoise;
}

#button_right {
    margin-left: 1em;
}


/* CSS For the add property page */

.InputAddProperty {
    margin-bottom: 0em;
    height: 3em;
    margin-top: 0.2em;
    width: 80%;
    background-color: white;
}

.InputAddPropertyD {
    width: 80%;
    height: 6em;
    background-color: white;
    margin-bottom: 2em;
}

#btnR2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    margin-top: 1em;
    width: 30%;
    height: 2em;
    text-align: center;
    background-color: white;
    border: 3px solid;
    border-color: turquoise;
}

#add-property-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#add-property-form-text {
    order: 1;
    flex-basis: 45%;
}

#add-property-form-images {
    order: 2;
    flex-basis: 50%;
}

.valErrorP {
    color: red;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2em;
}

#my-info {
    font-size: 2em;
}

#my-images {
    font-size: 2em;
}

#add-propertyForm {
    text-align: center;
}

#add-property-form-text>input {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

#add-property-form-text>textarea {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.file-input-box {
    border: 2px solid turquoise;
}

#file-input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-rows: 1fr 1fr 1fr;
}

input[type="file"] {
    display: none;
}

.btn-upload-image {
    margin-right: 20%;
    margin-left: 20%;
    border: 3px solid;
    border-color: turquoise;
}


/*popup for the review */

#popup_review {
    display: none;
    position: fixed;
    padding-top: 10em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

#popup_content_review {
    background-color: white;
    margin: auto;
    padding: 1em;
    border: 0;
    width: 30%;
    background-color: turquoise;
}

#review_text,
#rating_text {
    font-size: 1.5em;
    color: white;
}

#new_rating,
#new_review {
    padding: 1%;
    width: 40%;
}

#new_review {
    resize: none;
    height: 10em;
    width: 33em;
}

#create_review {
    margin-left: 35%;
    margin-top: 2%;
    padding: 2%;
    width: 10em;
    background-color: white;
    border: 0.1em solid;
    border-color: darkslategray;
}

#error_rating {
    color: red;
    opacity: 0.7;
    display: none;
}

.form_place_holder {
    text-align: left;
    margin-left: 10%;
}

* {
    font-family: 'Poppins', sans-serif;
}

#addComodityButton {
    border: 3px solid;
    border-color: turquoise;
    background-color: white;
    margin-bottom: 1em;
}

.seeCommodity {
    border: 3px solid;
    border-color: turquoise;
    background-color: white;
    margin-bottom: 1em;
}

.deleteCommodity {
    border: 3px solid;
    border-color: white;
    background-color: white;
    margin-bottom: 1em;
}


/* pop up comodity */

#pop-up-comodities {
    display: none;
    position: fixed;
    padding-top: 10em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

#commodoty-description {
    resize: none;
    width: 100%;
    height: 10em;
}

#des_text,
#new_commodity_text,
#title_text {
    color: white;
}

#new_commodity_text {
    margin-left: 7em;
    font-size: 125%;
    margin-bottom: 0;
}


/* Error pop up content*/

#error-popup {
    display: none;
    position: fixed;
    padding-top: 10em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#error-popup_content {
    background-color: white;
    margin: auto;
    padding: 1em;
    border: 0;
    width: 50%;
}


/* PESQUISA AUTO COMPLETE */

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    margin: 0em;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 55%;
    left: 40%;
    right: 0;
}

.autocomplete-items div {
    padding: 0.5em;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.valError_search {
    display: none;
}


/*Search Page*/

#search_flex {
    display: flex;
    flex-wrap: wrap;
}

.house_preview {
    margin-left: 8em;
    flex-basis: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
}


/*Messages Menu*/

#sender {
    font-weight: bold;
    font-size: 1.3em;
}

#messages_area {
    margin-left: 6.5em;
    margin-top: 0.5em;
}

#foobar {
    margin-left: 6.5em;
    width: 40em;
    height: 10em;
    resize: none;
}

#select_user {
    margin: 1em;
}

#content {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    overflow-wrap: break-word;
}

#send_message {
    width: 7em;
    height: 2em;
    text-align: center;
    background-color: white;
    border: 3px solid;
    border-color: turquoise;
    margin-top: 1em;
    margin-left: 22em;
    margin-bottom: 1em;
}

#timestamp {
    font-weight: bold;
}