ErrorDocument 404  /pages/404.php
ErrorDocument 403  /pages/403.php
Options All -Indexes

<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

<FilesMatch "\.(?:db|sql)$">
Order allow,deny
Deny from all
</FilesMatch>
